@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';
@import 'swiper/css/autoplay';
@import 'swiper/css/effect-coverflow';


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700;900&display=swap');

@layer utilities {

	.clip-image {
		clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
	}

	.clip-image2 {
		clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
	}

}

.swiper-pagination-bullet {
	background-color: #e3e3e3;

	&-active {
		background-color: #fff;
	}

}

.home_swiper {
	.swiper-button-next {
		right: 0;
		justify-content: flex-end;
		background-image: linear-gradient(to left, rgba(24, 24, 27, .8), transparent);
		padding-right: 10px;
	}

	.swiper-button-prev {
		left: 0;
		justify-content: flex-start;
		background-image: linear-gradient(to right, rgba(24, 24, 27, .8), transparent);
		padding-left: 10px;
	}

	.swiper-button-next,
	.swiper-button-prev {
		color: #fff;
		position: absolute;
		top: 0;
		margin: 0;
		width: 60px;
		height: 100%;
		transition: .1s linear color;

		&:active {
			color: #cbcbcb;
		}
	}
	// .swiper-pagination{
	// 	bottom: -25px;
	// }
	// overflow: visible;
}

body {
	font-family: 'Lato', sans-serif;
}

// html{
// 	overflow-x: hidden;
// }
// html{
// 	background: #18181b;
// }
.no-scrollbar::-webkit-scrollbar {
	display: none;
}